<body>
    <div class="">
        <div class="row">
            <h1 class="text-center">Proyectos</h1>
        </div>
        <div class="row">
            <div class="text-end">
                <p-button [link]="true" label="Cerrar sesión" (onClick)="logout()"></p-button>
            </div>
        </div>
        <div class="row d-flex mx-auto">
            <p-table [value]="projects" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre del proyecto</th>
                        <th>Compañia</th>
                        <th class="text-center">Historias</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project>
                    <tr>
                        <td>{{project.nombre}}</td>
                        <td>{{project.compania.nombre}}</td>
                        <td class="text-center"><app-historias [project_id]="project.id"></app-historias></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</body>